name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    # -------------------------
    # SAST - Semgrep
    # -------------------------
    - name: SAST Scan (Semgrep)
      uses: returntocorp/semgrep-action@v1
      with:
        config: p/ci

    # -------------------------
    # SCA - Trivy File Scan
    # -------------------------
    - name: SCA Scan (Trivy FS)
      uses: aquasecurity/trivy-action@0.20.0
      with:
        scan-type: fs
        severity: CRITICAL,HIGH
        exit-code: 0

    # -------------------------
    # Build Docker Image
    # -------------------------
    - name: Build Docker Image
      run: docker build -t devsecops-demo .

    # -------------------------
    # Container Security Scan
    # -------------------------
    - name: Container Scan (Trivy)
      uses: aquasecurity/trivy-action@0.20.0
      with:
        image-ref: devsecops-demo
        format: table
        exit-code: 0
        severity: CRITICAL,HIGH

    # -------------------------
    # IaC Scan - tfsec
    # -------------------------
    - name: IaC Scan (tfsec)
      uses: aquasecurity/tfsec-action@v1.0.3
      with:
        additional_args: "--severity HIGH,CRITICAL"
